<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="${message}"></h1>
<ul style="line-height: 200%">
    <li><a href="/rest/hello/world/">/hello/{name}，@PathVariable接收URI中请求参数示例</a></li>
    <li><a href="/rest/http-header/">获取请求header并且设置响应header</a></li>
    <li><a href="/rest/set-cookie/">将数据写入浏览器cookie</a></li>
    <li><a href="/rest/get-cookie/">获取请求中的cookie信息</a></li>
    <li><a href="/rest/set-session/">将数据保存到当前session中</a></li>
    <li><a href="/rest/get-session/">获取当前session中的数据</a></li>
    <li><a href="/upload/">上传示例</a></li>
    <li><a href="/demo/redirect/">/redirect,重定向示例</a></li>
    <li><a href="/demo/forward/">/forward,转发示例</a></li>
    <li><a href="/rest/mv-demo/">ModelAndView返回值示例</a></li>
    <li><a href="/rest/json-demo/">JSON返回值示例</a></li>
</ul>
</body>
</html>